<div class="form-container">
  <%= simple_form_for (@hangout) do |f| %>
    <div class="form-what">
      <div class="form-section">
        <%= render 'what', f: f %>
      </div>
    </div>
    <div class="form-when">
      <div class="form-section">
        <%= render 'when', f: f %>
      </div>
    </div>
    <div class="form-where">
      <div class="form-section">
          <%= render 'where', f: f %>
      </div>
    </div>
    <div class="form-close-poll">
      <div class="form-section">
        <div class="tag-line">
          <h2>Choose a closing time for your poll:</h2>
        </div>
        <div class="poll-form-group">
          <div class="poll-form">
            <%= f.input :poll_closing_time, as: :string, required: false, placeholder: "Pick a closing time", label: false, input_html: {class: "datetimepicker"} %>
          </div>
          <div class="date-form-button">
            <a href='#' class='btn-primary date-select'>Add</a>
          </div>
        </div>
        <div class="closeTimeContainer"></div>
        <div class="create-hangout-btn">
          <a href="#" class="back-btn">Back</a>
          <%= f.submit "Create", class: "hangout-btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
