<div class="nested-fields">

      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :rating %>
      <%= f.input :photo %>
      <%= link_to_remove_association "delete", f %>

</div>

