<h2><%= @hangout.name %></h2>
<p><%= @hangout.description %></p>

<button type="button" class="btn btn-primary share-btn" data-toggle="modal" data-target="#exampleModal">
  Share
</button>

<h3 class="show-page-header">Who?</h3>

<div class="attendance">
  <div id="going" data-id="going" class="cursor-pointer <%= 'checked' if current_user&.is_going?(@hangout) %>">I'll be there</div>
  <div id="maybe" data-id="maybe" class="cursor-pointer <%= 'checked' if current_user&.is_maybe?(@hangout) %>">Not sure yet</div>
  <div id="no" data-id="no" class="cursor-pointer <%= 'checked' if current_user&.is_no?(@hangout) %>">I can't make it</div>
</div>

<div class="who-lists">
  <p>Going: <%= going_list(@hangout) %></p>
  <p>Not sure: <%= maybe_list(@hangout) %></p>
  <p>Can't make it: <%= no_list(@hangout) %></p>
</div>

<h3 class="show-page-header">When?</h3>
<% if !@hangout.date_choices.length.nil? %>
<p>Which choices work for you? You can pick more than one:</p>
<% end %>
<div class="date-cards">
  <% @hangout.date_choices.each do |date| %>
  <div class="date-card-container">
    <div class="card-date-show-page cursor-pointer <%= 'checked' if current_user&.voted_for_date?(date) %>" data-id="<%= date.id %>">
      <h2><%= three_letter_month(date.date) + " " + date.date.strftime("%d") %> </h2>
      <h3>
        <%= date.date.strftime("%A") %>
      </h3>
      <h4>
        <%= date.date.strftime("%I:%M %p") %>
      </h4>
    </div>
    <div class="date-votes">
      <%= date.date_votes.length.to_s %> votes
    </div>
  </div>
  <% end %>
</div>

<h3 class="show-page-header">Where?</h3>
<% if !@hangout.location_choices.length.nil? %>
<p>Which choices work for you? You can pick more than one:</p>
<% end %>
<div class="locations-card-container-show">
  <div>
    <% @hangout.location_choices.each do |location| %>
    <div class="js-card-location card-location cursor-pointer <%= 'checked' if current_user&.voted_for_location?(location) %>" data-id="<%= location.id %>">
      <div class="location-image" style="background-image: url(<%= location.photo %>)">
      </div>
      <div class="card-location-infos">
        <h2><%= location.title %></h2>
        <h3><%= location.address %></h3>
        <ul class="star-list list-inline">
          <% location.rating.to_i.round.times do %>
          <li class="list-inline-item"><i class="rating-stars fas fa-star"></i></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <input type="text" id="attendance" name="attendance">
  <input type="text" id="date-votes" name="date_votes">
  <input type="text" id="location-votes" name="location_votes">
  <%= f.input :hangout_id, as: :hidden, :input_html => { :value => @hangout.id } %>
  <%= f.submit "Vote", class: "hangout-btn btn-primary" %>
<% end %>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share your hangout!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <label for="myInput">Your Share Link: </label>
        <input type="text" value="<%= request.original_url %>" id="myInput" readonly>
        <div class="copy-tooltip">
          <button id="copy-button">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            <span><i class="fas fa-clipboard-list"></i></span>
            <span><%= social_share_button_tag(@hangout.name, url: hangout_url(@hangout), desc: @hangout.name) %></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
